/*   Fixed top header */

/* Add some padding on document's body to prevent the content
to go underneath the header and footer */
body{        
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
    background-color: #597eaa;
    height: 100% !important;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #073763 !important;
    padding: 10px 0;
    color: #fff;
    border-top: 2px solid #ffd700;
    border-bottom: 2px solid #ffd700;
    height: 3.4rem;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.nav-menu-item {
    text-decoration: revert;
}

.body-page {
    background: #073763 !important;
    min-height: 100%; 
    height: 100% !important; 
}

span.fas.fa-music {
    font-size: 3.6rem !important;
}
