<div class="fixed-header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto d-inline-flex">
                <span class="fas fa-music"></span>
                <nav>
                    <a href="#" class="nav-menu-item">Músicos</a>
                    <a href="http://localhost:5000/api/banda" class="nav-menu-item">Bandas</a>
                    <a href="#" class="nav-menu-item">Indústrias</a>
                </nav>
            </div>
            
        </div>


    </div>
</div>