<div class="fixed-header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto d-inline-flex">
                 <a href="/"><span class="fas fa-music text-white"></span></a>
                <nav>
                    <a href="/musico" class="nav-menu-item">Músicos</a>
                    <a href="/banda" class="nav-menu-item">Bandas</a>
                    <a href="/industria" class="nav-menu-item">Indústrias</a>
                </nav>
            </div>
            
        </div>


    </div>
</div>